.poke-card-container {
  width: 200px;
  height: 70px;
  border: 5px double black;
  border-radius: 8px;
  display: flex;
  align-items: center;

  .thumb-container {
    width: 50px;
    margin: 10px;
  }

  .thumb {
    max-width: 50px;
    max-height: 50px;
  }
}
