header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .logo {
    width: 50vw;
    max-width: 700px;
    min-width: 250px;
    margin-top: 50px;
  }

  nav {
    margin: 50px 0;
    display: flex;
    gap: 5vw;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
  }

  .link-pokeball,
  .link-pokedex {
    object-fit: contain;
    img {
      width: 10vw;
      min-width: 60px;
    }
    :hover {
      animation: shake 1.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rule-btn {
    animation: shake 1.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation-iteration-count: 5;
    color: white;
    font-weight: bold;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 50%;
  }
}
