:root {
  --primary-font: "Poppins", sans-serif;
  --grass: #7ac74c;
  --poison: #a33ea1c5;
  --bug: #a6b91a;
  --fire: #ee8130;
  --fighting: #c22d28b1;
  --flying: #a98ff3;
  --water: #6390f0;
  --ground: #e2bf65;
  --rock: #b6a136;
  --psychic: #f95587;
  --ghost: #735797;
  --dragon: #6d35fcb4;
  --steel: #b7b7ce;
  --dark: #705746;
  --normal: #a8a77a;
  --ice: #96d9d6;
  --fairy: #d685ad;
  --electric: #f7d02c;
  --light-green: #dcedc2;
  --orange: #ffd3b5;
  --light-pink: #ffaaa6;
  --pink: #ff8c94;
}
