.map-container {
  margin: 50px auto;
  width: 600px;
  position: relative;

  :hover {
    background-color: orange;
    opacity: 0.5;
    transition: 0.6s ease-in-out;
    cursor: pointer;
  }

  .map-img {
    max-width: 100%;
  }

  .area {
    position: absolute;
  }
  .sky {
    bottom: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(15% at 50% 50%);
    z-index: 4;
  }

  .mountain {
    bottom: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 14%, 0 0, 48% 0, 43% 23%, 23% 14%);
  }
  .cave {
    bottom: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(69% 1%, 88% 17%, 88% 33%, 63% 21%);
  }
  .sea {
    bottom: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(
      0 100%,
      0 65%,
      3% 59%,
      10% 57%,
      12% 78%,
      24% 71%,
      23% 51%,
      33% 45%,
      48% 57%,
      50% 45%,
      62% 50%,
      48% 82%,
      56% 87%,
      81% 79%,
      89% 48%,
      88% 16%,
      68% 0,
      100% 0,
      100% 100%,
      52% 100%
    );
  }
  .plain {
    bottom: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(
      0 14%,
      0 65%,
      3% 59%,
      10% 57%,
      12% 78%,
      24% 71%,
      23% 51%,
      33% 45%,
      48% 57%,
      50% 45%,
      62% 50%,
      48% 82%,
      56% 87%,
      81% 79%,
      89% 32%,
      63% 22%,
      70% 0,
      48% 0,
      43% 23%,
      23% 14%
    );
  }
}

@media (max-width: 630px) {
  .map-container {
    width: 375px;

    transform: scale(0.99);
  }
}

@media (max-width: 410px) {
  .map-container {
    width: 300px;
    transform: scale(0.99);
  }
}
