button {
  background-color: transparent;
  border: none;
  img {
    animation: shake 1.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  }
}

.catch-game-container {
  font-family: var(--secondary-font);
  font-size: 20px;
  height: 100%;
  width: 100%;
  z-index: 20;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .caught-indicator {
    width: 20px;
  }

  .opponent-container,
  .player-container {
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }
  .opponent-info,
  .player-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px double;
    border-radius: 5px;
    padding: 10px;
  }
  .info-top {
    font-size: 24px;
    display: flex;
    justify-content: space-around;
  }

  .opponent-container {
    height: 35%;

    .opponent-info {
      height: 80px;
      width: 60%;
    }

    .opponent-name {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .hp-bar {
      width: 150px;
      margin-left: 70px;
    }
  }

  .player-container {
    height: 50%;
    display: flex;
    align-items: flex-end;
    .player-img {
      width: 30%;
    }
    .player-info {
      height: 140px;
      width: 68%;
    }
  }

  .input-section {
    display: flex;
    justify-content: space-between;
  }
}
